.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.selected, .selected:hover,.selected:focus  {
  font-weight: bold;
  background: #00b7f5;
}

.navigationbar-wrapper {
  background-color: #222;  
}
.reactNavElement {  
  list-style: none;  
  margin: 0; 
  
  background: deepskyblue;
  display: flex;  
  justify-content: flex-start;
}

.reactNavElement  a {
 text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.reactNavElement a:hover {
  background: #00b7f5;
}

.mainContent {
  padding: 10px 20px;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: #222;
  margin: 10px 0px 0px 0px;
  padding: 5px;
}

.card div:not(:first-child) {
  padding-left: 0.5em;
}

.card div.grow {
  flex-grow: 1;
}

.card .date {
  max-width: 60px;
}

.card .iconPane {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: horizontal;  
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

li {
  list-style-type: none;
}
.debit {
  color: red;
  white-space: nowrap;
}
.credit {
  color: green;
  white-space: nowrap;
}

.overviewGrid ul {
  padding-left: 0px;
}
 